<div class="container">
    <div class="shop__container ">
        <div >
            <h1 class="title">Preencha o formulário para finalizar a compra</h1>
        </div>
        <div>
            <form class="form-group" [formGroup]="formPriceDollar">
                <input
                    class="form-control mt-3"
                    placeholder="Nome Completo"
                    formControlName="name"
                >
                <input
                    class="form-control mt-3"
                    formControlName="cep"
                    placeholder="Cep da residência"
                >
                <input 
                    class="form-control mt-3"
                    type="number" 
                    placeholder="Numero da residência"
                    formControlName="addressNumber"
                >
                <label class="mt-3">Qual moeda deseja comprar?</label>
                <div class="d-flex justify-content-around mt-1">
                    
                    <div class="form-check">
                        <input 
                            class="form-check-input"
                            value="dollar"
                            type="radio"
                            name="coin"
                            id="radioDollar"
                            formControlName="coin" 
                        >
                        <label 
                            class="form-check-label"
                           
                        >
                           Dólar (US$)
                        </label>
                    </div>
                    <div class="form-check">
                        <input 
                            class="form-check-input" 
                            value="real" 
                            type="radio" 
                            name="coin"
                            formControlName="coin" 
                            id="radioReal" >
                        <label class="form-check-label">
                         Real (R$)
                        </label>
                      </div>
                </div>
              
                <input 
                    class="form-control mt-3 mb-4"
                    type="number" 
                    placeholder="Valor para contratar"
                    formControlName="value"
                >
                <div class="d-flex justify-content-between align-items-center">
                    <span></span>
                    <span *ngIf="freightValues && valueCoin === 'real'">{{  (freightValues/previousDayDollarQuote) | currency}}</span>
                    <span *ngIf="freightValues && valueCoin === 'dollar'">{{freightValues * previousDayDollarQuote | currency: 'BRL'}}</span>
                    <button 
                        class="btn btn-primary"
                        (click)="ZipCodeFilled()"
                    >
                        Verificar frete
                    </button>
                </div>
            </form>
         
        </div>
        <div>
            <div class="d-flex mt-6">
                <h3 class="subtitle">Resumo da compra</h3>
            </div>
            <ul>
                <li class="d-flex justify-content-between align-items-center">
                    <span>Valor da compra</span>
                    <span *ngIf="purchaseValue && valueCoin === 'real'">{{ purchaseValue/previousDayDollarQuote | currency}}</span>
                    <span *ngIf="purchaseValue && valueCoin === 'dollar'">{{ purchaseValue * previousDayDollarQuote | currency: 'BRL'}}</span>
                </li>
            
                <li class="d-flex justify-content-between align-items-center">
                    <span>Frete</span>
                    <span *ngIf="freightValues && valueCoin === 'real'">{{  (freightValues/previousDayDollarQuote) | currency}}</span>
                    <span *ngIf="freightValues && valueCoin === 'dollar'">{{ freightValues | currency: 'BRL'}}</span>
                </li>
                <hr>
                <li class="d-flex justify-content-between align-items-center">
                   <span>Valor total</span>
                   <span *ngIf=" valueCoin === 'real'" class="strong">{{ totalValue/previousDayDollarQuote | currency }}</span>
                   <span *ngIf=" valueCoin === 'dollar'" class="strong">{{ totalValue  | currency: 'BRL'  }}</span>
                </li>
            </ul>
            <div class="group-button">
                <button class="btn btn-primary" (click)="onSubmit()">Finalizar contratação</button>
                <button class="btn btn-outline-primary"(click)="goToBack()">Voltar</button>
            </div>
        </div>
    </div>
</div>