.shop__container {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #2222222c;
    margin-top: 30px;
}
.shop__img {
    height: 30px;
}

.shop__list {
    list-style: none;
    padding: 0;
}

.group-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.shop__button-submit {
    height: 56px;
    width: 100%;
}

.shop__button-back {
   height: 56px;
   width: 100%;
   margin-top: 16px;
}

@media (min-width: 768px) {
    .shop__container {
        margin-top: 60px;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    .group-button {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 36px;
    }
    .shop__button-back {
        max-width: 289px;
        margin-top: 0px;
    }
    .shop__button-submit {
        max-width: 327px;
    }
}