<div class="container">
    <div class="shop__container ">
        <div >
            <h1 class="title">Preencha o formulário para finalizar a compra</h1>
        </div>
        <div>
            <form class="form-group" [formGroup]="formPriceDollar">
                <input
                    class="form-control mt-3"
                    placeholder="Nome Completo"
                    formControlName="name"
                    minlength="6"
                    maxlength="20"
                    pattern="[a-zA-Z\s]+$" 
                >
                <input
                    class="form-control mt-3"
                    formControlName="cep"
                    placeholder="Cep da residência"
                    minlength="8"
                    maxlength="8"

                >
                <input 
                    class="form-control mt-3"
                    type="number" 
                    placeholder="Numero da residência"
                    formControlName="addressNumber"
                >
                             
                <input 
                    class="form-control mt-3 mb-4"
                    type="number" 
                    placeholder="Valor em US$"
                    formControlName="value"
                >

                <div class="alert alert-primary mt-4 mb-4">
                    <div class="d-flex align-items-center" >
                        <img class="me-4 alert-warning shop__img" src="assets/imgs/icons/alert.svg" alt="">
                         <span>
                            Cobramos {{ 1 | currency: 'BRL'}} real por KM, no frete.
                         </span> 
                    </div>
                  </div>
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <span>Frete</span>
                
                    <span *ngIf="freightValues">
                        {{freightValues | currency: 'BRL'}}
                    </span>
                    <button 
                        *ngIf="!loading"
                        class="btn btn-primary"
                        (click)="ZipCodeFilled()"
                    >
                        Verificar frete
                    </button>
                    <button *ngIf="loading" class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                      </button>
                </div>
            </form>
         
        </div>
        <div>
            <div class="d-flex mt-6">
                <h3 class="subtitle">Resumo da compra</h3>
            </div>
            <ul class="shop__list">
                <li class="d-flex justify-content-between align-items-center">
                    <span>Valor da compra em reais</span>
                    <span *ngIf="purchaseValue && totalValue !== 0">
                        {{ purchaseValue | currency: 'BRL'}}
                    </span>
                </li>
            
                <li class="d-flex justify-content-between align-items-center">
                    <span>Frete</span>
                    <span 
                        *ngIf="freightValues">{{ freightValues | currency: 'BRL'}}
                    </span>
                </li>
                <hr>
                <li class="d-flex justify-content-between align-items-center">
                   <span>Valor total</span>
                   
                   <span *ngIf="totalValue" class="strong">{{ totalValue  | currency: 'BRL'  }}</span>
                </li>
            </ul>
            <div class="group-button">
                <button class="btn btn-primary shop__button-submit" (click)="onSubmit()">Finalizar contratação</button>
                <button class="btn btn-outline-primary shop__button-back"(click)="goToBack()">Voltar</button>
            </div>
        </div>
    </div>
</div>