.home__container {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #2222222c;
    margin-top: 30px;
    width: 100%;
    max-width: 700px;
}

.home__subtext {
    color: #212529;
}

.group-button {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width: 100%;
}

.home__button-convert {
    width: 100%;
    height: 56px;
}

.home__button-clear {
    width: 100%;
    height: 56px;
    margin-top: 36px;
    margin-bottom: 30px;
}

.home__button-shop {
    width: 100%;
    height: 56px;
}

.home__table {
    width: auto;
    height: 240px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.home__img {
    height: 30px;
}
@media (min-width: 768px) {
    .home__container {
        margin-top: 60px;
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
    }

    .group-button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 36px;
    }
    .home__button-clear {
        margin-top: 0px;
        margin-bottom: 0px;
        max-width: 289px;
    }
    .home__button-convert {
        max-width: 289px;
    }
    .home__button-shop {
        max-width: 327px;
        margin-left: auto;
        margin-right: auto;
    }
    .home__table {
        width: auto;
        height: auto;
    }
}
@media (min-width: 1000px) {
    .home__button-shop {
        max-width: 1080px;
    }
}