<div class="home__container">
    <div class="home__content">
        <div class="home__content-title">
            <h1> 
                <span class="d-block"> Consulte a cotação </span>
                <span class="d-block">e compre dolar </span> 
                <span class="d-block"> para receber em casa </span>
            </h1>
        </div>
        <div>
            <form action="">
                <input type="number" placeholder="Dólar">
                =>
                <input type="number" placeholder="Real">
                =
                <input type="number" placeholder="Resultado da conversão">
            </form>
            <div>
                <button>converter</button>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <div>
                <h3>Histórico de compras</h3>
            </div>
            <table class="">
                <tr>
                    <th>Nome</th>
                    <th>CEP</th>
                    <th>Qtd de Dólares comprados</th>
                    <th>Distância calculada para o frete</th>
                </tr>
                <tr>
                    <td>Ivan vidal</td>
                    <td>06282730</td>
                    <td>10.000</td>
                    <td>2.000 km</td>
                </tr>
                <tr>
                    <td>Ivan vidal</td>
                    <td>06282730</td>
                    <td>10.000</td>
                    <td>2.000 km</td>
                </tr>
                <tr>
                    <td>Ivan vidal</td>
                    <td>06282730</td>
                    <td>10.000</td>
                    <td>2.000 km</td>
                </tr>
            </table>
        </div>
    </div>
</div>